<mat-sidenav-container
  *ngIf="authService.isLoged()"
  class="sidenav-container"
  autosize
>
  <mat-sidenav #sidenav mode="side" opened [fixedInViewport]="true">
    <mat-nav-list>
      <mat-list-item routerLink="/order">Home</mat-list-item>
      <mat-list-item routerLink="/user">User</mat-list-item>
      <mat-list-item routerLink="/contact">Contact</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.toggle()">Open</button></p>
  </mat-sidenav-content>
</mat-sidenav-container>
